# (c) 2019 Jim Hawkins. MIT licensed, see https://opensource.org/licenses/MIT

# That macOS file it puts everywhere.
.DS_Store

node_modules
videos

# Files created by the diagrams.net (aka draw.io) tool that don't get cleared up
# sometimes.
*.svg.bkp
